<mat-form-field style="width: 100%" class="mb-1">
  <input matInput placeholder="Type to filter by BU name"  (keyup)='updateFilter($event)'>
</mat-form-field>
<div fxLayout="row wrap">
  <div fxFlex.gt-sm="100" fxFlex.gt-xs="50" fxFlex="100" fxFlex fxLayoutAlign="end" >
    <a (click)="openAddDialog()">
      <img src="/assets/images/add.png">
    </a>
  </div>
</div>
<ngx-datatable
  class="material"
  [rows]="BUList"
  [columnMode]="'force'"
  [headerHeight]="50"
  [footerHeight]="50"
  [rowHeight]="'auto'"
  [limit]="10">
  <ngx-datatable-column name="No#">
    <ng-template let-column="column" ngx-datatable-header-template>
      No#
    </ng-template>
    <ng-template let-rowIndex="rowIndex"  ngx-datatable-cell-template>
      {{rowIndex + 1 }}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Project">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{row.project.projectName}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="BU">
    <ng-template let-column="column" let-sort="sortFn" ngx-datatable-header-template>
      <span (click)="sort()">
        BU
      </span>
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      {{row.buDetails.buName}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="BU Details">
    <ng-template let-column="column" ngx-datatable-header-template>
      BU Details
    </ng-template>
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
     {{row.buDetails.buDetails}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Action">
    <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <!--<i class="fa fa-edit" (click)="openUpdateDialog(row)"></i>-->
     <a (click)="openUpdateDialog(row)">
       <img class="icon"src="/assets/images/edit.png"></a>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>
