.change-font-family {
  font: 80 15px/18px Roboto, "Helvetica Neue", sans-serif !important;
}
// .ngx-dropdown-button{
//   border-radius: 0px !important;
//   height: 38px !important;
// }
.ngx-select-dropdown {
  border-radius: 0px !important;
  height: 38px !important;
}

/* #app-list {
  border-radius: 0px !important;
  height: 38px !important;
} */
