.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
    overflow: auto;
  
}
  .mat-header-cell.mat-sort-header-sorted {
    color: black;
  }
  .picture{
    width: 60px;
    height: 60px;
}

.icon{
    width: 20px;
    height: 20px;
}